<%- include('partials/header') %>


<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Mashiri Law Firm</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="http://localhost:3000/">Home</a></li>
      <li><a href="#">Page 1</a></li>
      <li><a href="#">Page 2</a></li>
      <li><a href="#">Page 3</a></li>
    </ul>
  </div>
</nav>
<div class="form-container">
    <h2>Register</h2>
    <% if(locals.error) { %>
        <div class="alert alert-danger"><%= error %></div>
    <% } %>
    <form method="post">
        <div class="form-group">
            <label for="fullName">Full Name</label>
            <input type="text" name="fullName" id="fullName" class="form-control" value="<%= locals.fullName || '' %>" required />
        </div>

        <div class="form-group">
            <label for="lastName">Phone Number</label>
            <input type="text" name="phone" id="phone" class="form-control" value="<%= locals.phone || '' %>" required />
        </div>

        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" name="username" id="username" class="form-control" value="<%= locals.username || '' %>" required />
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" class="form-control" required />
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Register</button>
            <a href="/login" class="btn btn-link">Cancel</a>
        </div>
    </form>
</div>
<%- include('partials/footer') %>